Package: kvl-plugin-shadowsocks
Version: 1.0.0
Depends: shadowsocks-libev-ss-redir, shadowsocks-libev-ss-local, haveged
Source: /opt/home/carIod/kvl-plugin-shadowsocks
SourceName: kvl-plugin-shadowsocks
Section: utils
SourceDateEpoch: 1757228869
URL: no
Architecture: all
Installed-Size: 20337
Description:  Плагин поддержки протокола Shadowsocks для пакета КВАС ЛАЙТ
